ELEVENLABS_API_KEY=sk_f1bda02df6ec9a07a2438073e2a82565a1f39c1f3316f62e
ELEVENLABS_MODEL_ID=eleven_multilingual_v2
ELEVENLABS_RACHEL_VOICE_ID=21m00Tcm4TlvDq8ikWAM
ELEVENLABS_ADAM_VOICE_ID=pNInz6obpgDQGcFmaJgB
